@{
    ViewData["Title"] = "What is C#?";
}

<article>
    <header class="row">
        <h1>@ViewData["Title"]</h1>
    </header>
    <section>
        <p>
            C# (pronounced "C-sharp") is a modern, object-oriented programming language developed by Microsoft. It is part of the .NET framework and is widely used for developing a variety of applications
        </p>
        <div class="text-center">
            <img src="/media/images/fifth.png" width="350" loading="lazy" title="Fifth Image" alt="An image of PSeInt" />
        </div>
        <div class="py-3 text-center">
            <a asp-action="Fourth" class="btn btn-outline-secondary rounded-pill px-5 shadow me-5">← Previous</a>
            <a asp-action="Sixth" class="btn btn-outline-primary rounded-pill px-5 shadow ms-5">Next →</a>
        </div>
    </section>
</article>