@{
    ViewData["Title"] = "Index";
}

<article>
    <header class="row">
        <h2>Ronald Cabrera González</h2>
        <h3>Index</h3>
    </header>
    <section class="row">
        <ol>
            <li><a asp-action="First">What is programming, exactly?</a></li>
            <li><a asp-action="Second">What is pseudo-code?</a></li>
            <li><a asp-action="Third">What is a flow diagram?</a></li>
            <li><a asp-action="Fourth">How can you use programing in cyber security?</a></li>
            <li><a asp-action="Fifth">What is C#?</a></li>
            <li><a asp-action="Sixth">What can be done with C# currently?</a></li>
            <li><a asp-action="Seventh">How can you make a program that sums two numbers in C#?</a></li>
        </ol>
    </section>
</article>