@{
    ViewData["Title"] = "What is pseudo-code?";
}

<article>
    <header class="row">
        <h1>@ViewData["Title"]</h1>
    </header>
    <section>
        <p>
            Pseudocode is a way to express the different steps that a program will perform, in a manner that closely resembles a programming language.

            Its main function is to represent step-by-step solutions to a problem or algorithm in the most detailed way possible, using a language close to that of programming.
        </p>
        <div class="text-center">
            <img src="/media/images/second.jpg" width="450" loading="lazy" title="Second Image" alt="An image of PSeInt" />
        </div>
        <div class="py-3 text-center">
            <a asp-action="First" class="btn btn-outline-secondary rounded-pill px-5 shadow me-5">← Previous</a>
            <a asp-action="Third" class="btn btn-outline-primary rounded-pill px-5 shadow ms-5">Next →</a>
        </div>
    </section>
</article>